<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-auto">
          <video src="/video/mjk_demoreel_2022.mp4" controls></video>
        </div>
      </div>
    </div>
        <div class="grid">

        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                          {{ if and (isset .Params "redirect") .Params.redirect }}
                          <a href="{{ .Params.redirect }}" title="" class="box-masonry-image with-hover-overlay">
                          {{ else }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                          {{ end }}
                        {{ else }}
                          {{ if and (isset .Params "redirect") .Params.redirect }}
                          <a href="{{ .Params.redirect }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                          {{ else }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                          {{ end }}
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>
                            {{ if and (isset .Params "redirect") .Params.redirect }} 
                            <a href="{{  .Params.redirect }}">{{ .Title }}</a>
                            {{ else }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                          {{ end }}
                          </h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                            {{ if and (isset .Params "bandcamp") .Params.bandcamp }}
                            <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.bandcamp_album }}/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="{{ .Params.bandcamp_url }}">{{ .Params.bandcamp_title }}</a></iframe>
                            {{ end }}
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
