<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-auto">
          <video src="/video/mjk_demoreel_2022.mp4" controls></video>
        </div>
      </div>
    </div>
        <div class="grid">

        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                          {{ if and (isset .Params "redirect") .Params.redirect }}
                          <a href="{{ .Params.redirect }}" title="" class="box-masonry-image with-hover-overlay">
                          {{ else }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                          {{ end }}
                        {{ else }}
                          {{ if and (isset .Params "redirect") .Params.redirect }}
                          <a href="{{ .Params.redirect }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                          {{ else }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                          {{ end }}
                        {{ end }}
                            <img class="static img-responsive" src="{{.Params.staticimage | absURL}}" alt="Image of {{ .Title }}">
                            <img class="active img-responsive" src="{{.Params.image | absURL}}" alt="Animated gif of {{ .Title }}">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>
                            {{ if and (isset .Params "redirect") .Params.redirect }} 
                            <a href="{{  .Params.redirect }}">{{ .Title }}</a>
                            {{ else }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                          {{ end }}
                          </h4>
                          <div class="box-masonry-description">
                            <p class="description-tools">
                              {{ if and (isset .Params "tools") .Params.tools }}
                              {{ .Params.tools }}
                              {{ end }}
                            </p>
                            <p class="description-details">
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                            {{ if and (isset .Params "bandcamp") .Params.bandcamp }}
                            <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.bandcamp_album }}/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="{{ .Params.bandcamp_url }}">{{ .Params.bandcamp_title }}</a></iframe>
                            {{ end }}
                            {{ if and (isset .Params "soundcloud") .Params.soundcloud }}
                            <iframe width="100%" height="300" scrolling="yes" frameborder="no" src="{{ .Params.soundcloud_player}}"></iframe><div style="font-size: 10px; color: #cccccc; line-break: anywhere;word-break: normal; overflow-y: scroll; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/superlumic" title="luumi (mathew)" target="_blank" style="color: #cccccc; text-decoration: none;">luumi (mathew)</a> · <a href="{{ .Params.soundcloud_url }}" title="{{ .Params.soundcloud_title }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ .Params.soundcloud_title}}</a></div>
                            {{ end }}
                            {{ if and (isset .Params "embed") .Params.embed }}
                            <video src="{{ .Params.embed }} " controls />
                            {{ end }}
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
