<div class="sidebar col-xs-12 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <div class="sidebar-title row align-items-center">
      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-3">
        <img src="/img/lumic_flower.png"></img>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      </div>
    </div>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social.html" . }}
    <div class="copyright">
      <p>© 2023 {{ .Site.Title }} /</p>
      <img src="/img/lumic_text.png"></img>
    </div>
  </div>
</div>
