<p class="social">
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email" title="E-mail">
    <i class="fa fa-envelope"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.soundcloud }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="SoundCloud" rel="me">
    <i class="fa fa-soundcloud"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.bandcamp }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="Bandcamp" rel="me">
    <i class="fa-brands fa-bandcamp"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.github }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="GitHub" rel="me">
    <i class="fa fa-github"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.youtube }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="YouTube" rel="me">
    <i class="fa fa-youtube"></i>
  </a>
  {{end}}
</p>