<div class="social">
  {{ with .Site.Params.social.email }}
  <div><a href="mailto:{{ . }}" class="email" title="E-mail">
    <i class="fa fa-envelope"></i>
  </a></div>
  {{end}}
  {{ with .Site.Params.social.soundcloud }}
  <div><a href="{{ . }}"  target="_blank" title="SoundCloud" rel="me">
    <i class="fa fa-soundcloud"></i>
  </a></div>
  {{end}}
  {{ with .Site.Params.social.bandcamp }}
  <div><a href="{{ . }}"  target="_blank" title="Bandcamp" rel="me">
    <i class="fa-brands fa-bandcamp"></i>
  </a></div>
  {{end}}
  {{ with .Site.Params.social.itch }}
  <div><a href="{{ . }}"  target="_blank" title="Itch" rel="me">
    <i class="fa-brands fa-itch-io"></i>
  </a></div>
  {{end}}
  {{ with .Site.Params.social.github }}
  <div><a href="{{ . }}"  target="_blank" title="GitHub" rel="me">
    <i class="fa fa-github"></i>
  </a></div>
  {{end}}
  {{ with .Site.Params.social.youtube }}
  <div><a href="{{ . }}"  target="_blank" title="YouTube" rel="me">
    <i class="fa fa-youtube"></i>
  </a></div>
  {{end}}
</div>